<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>StudyPilot</title>
</head>
<body>
    <div>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/users">New Tasks</a></li>
                    <li><a href="/users/new">Completed</a></li>
                </ul>
            </nav>
        </header>
