<%- include('./partials/header') %>
<div class="list-cont">
    <% if (completedGoalsList.length === 0) { %>
        <div class="list-box">No goals completed :(</div>
    <% } else { %>
        
        <% completedGoalsList.forEach (completedGoal => { %>
            
        <% }) %>
    <% } %>
</div>
<%- include('./partials/footer') %>