<%- include('./partials/header') %>
<div class="list-cont">
    <% if (completedGoalsList.length === 0) { %>
        <div class="list-box">No goals completed :(</div>
    <% } else { %>
        <% for (let i = 0; i < completedGoalsList.length; i++) { %>
            <div class="list-box">
                <h3>Completed : <%= completedGoalsList[i] %></h3>
            </div>
        <% } %>
    <% } %>
</div>
<%- include('./partials/footer') %>