<%- include('./partials/header') %>
<div class="compose">
    <img src="../assets/bg.png" alt="" class="bg-img">
    <form class="add-goals" action="/compose" method="post">
        <textarea name="goal" id="goal" class="goal" cols="35" rows="8" autofocus placeholder="Enter goal"></textarea>
        <br>
        <button class="add-goal" type="submit">Add</button>
    </form>
    <h2 class="wlc-text">Create your study goals !</h2>
</div>
