<%- include('./partials/header') %>
<div class="home">
    <img src="../assets/bg.png" alt="" class="bg-img">
    <h2 class="wlc-text">Create your study goals !</h2>
</div>
<div class="btn-cont">
    <button class="btn-grp"><a href="/list">Pending</a></button>
    <button class="btn-grp"><a href="/completed">Completed</a></button>
</div>
<%- include('./partials/footer') %>