<%- include('./partials/header') %>
<div class="list-box">
    <img src="../assets/bg.png" alt="" class="bg-img">
    <h2 class="wlc-text">Create your study goals !</h2>
</div>
<%- include('./partials/footer') %>