<%- include('./partials/header') %>
<div class="list-cont">
    <div class="list-box">Lorem ipsum dolor, sit</div>
    <div class="list-box">Lorem ipsum dolor, sit</div>
    <div class="list-box">Lorem ipsum dolor, sit</div>
    <div class="list-box">Lorem ipsum dolor, sit</div>
    <div class="list-box">Lorem ipsum dolor, sit</div>
</div>
<%- include('./partials/footer') %>