@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100lvh;
    background: #252525;
    display: flex;
    flex-direction: column;
    place-items: center;

}
.nav {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
}
.nav-link {
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style: none;
}
.home {
    display: flex;
    flex-direction: column;
    place-items: center;
}
.bg-img {
    width: 370px;
    height: 400px;
    flex-shrink: 0;
}
.wlc-text {
    color: #FFF;
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.btn-div {
    fill: #252525;
    filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.40)) drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.40));
    position: absolute;
    top: 600px;
    left: 290px;
}
.add-btn {
    background-color: #252525;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 21px;
    left: 27px;
}
.list-cont {
    margin-top: 2rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    place-items: center;
    flex-shrink: 0;
    gap: 1.3rem;
}
.list-box {
    flex-wrap: wrap;
    padding: 1.5rem;
    border-radius: 10px;
    font-family: Nunito;
    font-size: 20px;
}
.list-box:nth-child(5n+1) {
    background: #FD99FF;
}
.list-box:nth-child(5n+2) {
    background: #FF9E9E;
}
.list-box:nth-child(5n+3) {
    background: #91F48F;
}
.list-box:nth-child(5n+4) {
    background: #FFF599;
}
.list-box:nth-child(5n+5) {
    background: #9EFFFF;
} 